<header class="bg-dark">
    <div class="container"> <strong>Twitter Live Wall</strong></div>
</header>
<div class="container">
  <form class="input-group mb-3">
    <input [(ngModel)]="searchTweet" class="form-control" name="tweet" placeholder="Search something" autocomplete="off">
    <div class="input-group-append"> <button (click)="getTweets(searchTweet)" class="btn btn-outline-secondary" type="submit">Twitter</button>
    </div>
  </form>

  <div *ngIf="tweets" class="tweets">
    <div class="media" *ngFor="let tweet of tweets">
      <img class="align-self-center mr-3" [src]="tweet.user.profile_image_url" />
      <div class="media-body">
        <h5 class="mt-0">{{tweet.user.name}}</h5>
        <strong class="username"> @{{tweet.user.screen_name}}</strong>
        <span class="date"> {{tweet.created_at | date: 'dd/MM/yyyy'}}</span>
        <div class="text">{{tweet.text}} </div>
      </div>
    </div>
  </div>
</div>